.pagination-item {
    background-color: white;
    color: black;
    cursor: pointer;
}

.pagination-item:hover {
    /* background-color: rgba(247, 94, 31, 1); */
    background-color: rgba(255, 237, 221, 1);
    /* color: white; */
    color: black;
}

.pagination-item-dots {
    background-color: #f5f5f5;
    color: black;
    cursor: default;
}

.active-page {
    background-color: rgba(247, 94, 31, 1);
    color: white;
}

.pagination-container {
    border-radius: 5px;
    overflow: hidden;
}